* {
  font-family: "Fredoka", "sans-serif";
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0px;
}

body {
  background: #f0a url(./assets/bg.png) no-repeat fixed center;
  background-size: cover;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}

.island {
  background-color: white;
  border: 5px solid black;
  border-radius: 30px;
  box-shadow: #00000088 0px 5px 0px 0px;
}
body > .island {
  padding: 5px 20px;
  margin: 40px;
}

header.island {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header.island div {
  align-content: center;
}

main.island {
  margin-top: 0px;
}

.banner {
  background-color: orange;
  text-align: center;
  margin: 0px;
}

nav {
  background-color: #00000088;
  padding: 10px 20px;
  margin: 0px 100px;
  max-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.item {
  margin: 20px 0px;

  & > img {
    float: left;
    height: 100px;
    margin: -10px 10px 0px -10px;
  }

  & > div {
    padding: 0px 10px 0px 20px;
    min-height: 100px;
  }

  clear: both;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

.bridge a {
  color: white;
}

a {
  color: #f0a;
}

a:hover {
  color: #fa0;
}

footer p {
  font-weight: 400;
}
